<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h2 class="display-3">Message sent successfully</h2>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-light btn-lg" href="/contact" role="button">Contact Us</a>

  </div>
</div>

<%- include('partials/footer') %>
